# Georgetown Capstone Team Bikeshare Data Dictionary

{% for schema in dictionary %}  

#### Table of Contents
{%- for table in schema['tables'] %}
* [{{table['table']}}](#{{table['table']}}): {{table['description']}}
{%- endfor %}

{% for table in schema['tables'] %}
**{{table['table']}}**<a id="{{table['table']}}"></a>: {{table['description']}}

Attribute | Type | Nullable | Description
--- | --- | --- | ---
{%- for column in table['columns'] %}
{{column['column']}} | {{column['data_type']}} | {{column['is_nullable']}} | {{column['description']}}
{%- endfor %}
{% endfor %}
{% endfor %}
